.bg-un{
    background-color: #418fde;
}
.border-un{
    border-color: #418fde;
}

html{
    height: 100%;
}
body{
    background-image: linear-gradient(45deg,#2596be,#6c25be,#bea925);
}

main{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ left:0; right: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.5s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .5s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}